
*.cache
*.force
.vs/ModTools/v17/.suo
*.lock
*.vsidx
CDBTool/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CDBTool/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CDBTool/obj/Release/CDBTool.csproj.FileListAbsolute.txt
Common/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Common/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Common/obj/Release/Common.csproj.FileListAbsolute.txt
PAKTool/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PAKTool/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PAKTool/obj/Release/PAKTool.csproj.FileListAbsolute.txt
*.exe
*.pdb
*.dll
Build/PAKTool.exe.config
Build/Newtonsoft.Json.xml
Build/CDBTool.exe.config
Build/AtlasTool.exe.config
*.CopyComplete
AtlasTool/obj/x64/Release/AtlasTool.csproj.FileListAbsolute.txt
AtlasTool/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Build/ScriptTool.exe.config
Build/options.json
ScriptTool/obj/Release/ScriptTool.csproj.FileListAbsolute.txt
ScriptTool/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
